@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

@layer theme {
  :root {
    @variant light {
      --color-brand: var(--brand, #f0b100);
    }
    @variant dark {
      --color-brand: var(--brand, #f0b100);
    }
  }
}

@theme {
  --color-brand: #f0b100;
}
